#personal-info{
    height:500px;
    width:20%;
    border:8px ridge grey;
    position:absolute;
    top:99px;
    left:1px;
    padding:20px;
    padding-top:3em;
    box-shadow:10px 10px 5px grey;
    font-family:"lucida sans unicode", "lucida-grande", sans-serif;
  }
  
  #job-experience{
    height:500px;
    width:49%;
    border:8px ridge grey;
    position:absolute;
    left:372px;
    top:104px;
    padding:10px;
    padding-top:3em;
    margin:10px;
    box-shadow: 10px 10px 5px grey;
    font-family:"lucida sans unicode", "lucida-grande", sans-serif;
  }
  
  #volunteer{
    height:500px;
    width:21%;
    border:8px grey ridge;
    position:absolute;
    left:1225px;
    top:100px;
    margin:4px;
    padding:10px;
    padding-top:3.5em;
    box-shadow: 10px 10px 5px grey;
    font-family:"lucida sans unicode", "lucida-grande", sans-serif;
  }
  
  .text{
    text-align:center;
    font-family:"lucida sans unicode", "lucida-grande", sans-serif;
  }
  
  body{
    background-color:rgb(113,238,184);
    font-family:"lucida sans unicode", "lucida-grande", sans-serif;
  }